.container {
    display: flex;
    
   flex-wrap: wrap;
    width: 600px;
   height: 80px;
   justify-content: space-around;
   border: rgb(57, 156, 196) solid 3px;
   align-content: center;
   
  }
  .obdelnik
  {
     
   box-sizing: border-box;
   width: 40px;
   height: 40px;
   background: rgb(57, 156, 196);
    }
  
    .container2 {
      display: flex;
      
     flex-wrap: wrap;
      width: 600px;
     height: 80px;
     justify-content: space-around;
     border: rgb(57, 156, 196) solid 3px;
     align-content: center;
     margin-top: 5px;
     background-color: coral;
     
    }
   .druhy  
  {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background: violet;
      }

      






